*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

#gridwrapper_index {
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: 120px 50px 500px 100px;
    grid-template-areas: 
    "lb lt"
    "na na"
    "p1 p1"
    "fo fo"
    ;
}

#logo_bild {
    grid-area: lb;
    display: flex;
    align-items: center;
    height: 100px;
    width: 100px;
    background-color: red;
    margin-top: 10px;
}

#logo_text{
    grid-area: lt;
    display: flex;
    align-items: center;
    font-size: 50px;
}

nav{
    grid-area: na;
    background: rgb(239, 238, 238);
}

#navigation_bar_list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

#pizza_bild1{
    grid-area: p1;
    width: 100%;
    height: auto;
    margin-top: 10px;
}

footer{
    grid-area: fo;
    background-color: blue;
}

#body_index{
margin-right: 160px;
margin-left: 160px;
}
